[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
django-heroku = "*"
Django = "==2.2.22"
pytz = "==2018.9"
messytables = "==0.15.2"
djangorestframework = ">=3.7.7"
django-werkzeug-debugger-runserver= "==0.3.1"
django-debug-toolbar = "==2.1"

[dev-packages]
django-debug-toolbar = "==2.1"

[requires]
python_version = "3.7"
