{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- see: https://getbootstrap.com/docs/4.3/getting-started/download/ -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>{% block title %}{% endblock %} - CSV to Athena Schema</title>
</head>
<!-- ^ header / body -->
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">csv2aschema</a>
        {% block header %}{% endblock %}
    </div>
</nav>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div{% if message.tags %} class="flash"{% endif %}>{{ message }}</div>
        {% endfor %}
    </ul>
{% endif %}

<main class="container container-fixed" role="main">
    <div class="jumbotron">
        {% block content %}{% endblock %}
    </div>
</main>

{% block footer %}
    <nav class="footer mt-auto">
        <hr>
        <footer>
            <!-- footer space -->
            <div class="container">
                <h4 class="h4">About</h4>
                <ul>
                    <li>
                        <a href="https://github.com/yuokada/heroku-csv2athena_schema">github</a>
                    </li>
                </ul>
            </div>
        </footer>
    </nav>
{% endblock %}
{% block vue-script %}{% endblock %}
<!-- Optional JavaScript -->
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<!-- see: https://getbootstrap.com/docs/4.6/getting-started/introduction/ -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>
